body {
    color: white;
}

th {
    color: white;
}

td {
    color: whitesmoke;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container {
    margin-top: 2%;
}

.centre-items {
    margin-top: 2%;
}