{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello World!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css7/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/story7.js' %}"></script>
</head>

<body id='body'>
    <h1>Hi! I'm Gibran Brahmanta</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="accordion" class="accordion" style="padding-top: 35px">
                    <h4 class="acc-style">Activities</h4>
                    <div>
                        <li>Currently chasing S.Kom at Faculty of Computer Science, University of Indonesia</li>
                        <li>Meeting for preparing some events</li>
                        <li>Prog. Foundation 1 Teaching Assistant</li>
                        <li>Algorithm and Data Structure Prog. Assignment</li>
                        <li>Web Design and Programming Story</li>
                    </div>
                    <h4 class="acc-style">Organizations/Volunteer Experiences</h4>
                    <div>
                        <li>Staff of Research and Strategic Action Departement, BEM Fasilkom UI</li>
                        <li>Staff of Event at CGT in Action</li>
                        <li>Staff of Stage at Compfest X</li>
                        <li>Staff of Event at PMB Fasilkom UI 2019</li>
                    </div>
                    <h4 class="acc-style">Awards</h4>
                    <div>
                        <li>Currently searching for some awards</li>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="down">
                    <p id="light" class="text-center text" style="font-size: 50px; text-align: center; color:white"><strong>Light Mode?</strong></p>
                    <label class="switch" for="lightmode">
                        <input type="checkbox" class="lightmode" id="lightmode" name="lightmode">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>