{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go the Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css9/style.css' %}">
</head>

<body>

    {% if user.is_authenticated %}

    <h1 class='judul'>Have a nice day!</h1>

    <div class="content">
        {{user.username}}
    </div>
    <div class="centre-items tombol">
        <a class='btn btn-primary tombol' href="{% url 'logout' %}">logout</a>
    </div>
    {% else %}

    <h1 class='judul'>Hello!</h1>

    <div class='form'>
        <form action="" method="POST">
            {% csrf_token %} {{ form }}
            <div class="centre-items tombol">
                <input type="submit" class="btn btn-primary" value="Login" id="submit">
            </div>
        </form>
    </div>

    {% endif %}

</body>

</html>